includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 1
    paths:
        - app
        - config
        - database
        - routes
    earlyTerminatingFunctionCalls:
        - abort
